[submodule "vendor/buzz"]
	path = vendor/buzz
	url = git://github.com/kriswallsmith/Buzz.git
[submodule "vendor/marcw-buzz"]
	path = vendor/marcw-buzz
	url = git://github.com/marcw/silex-buzz-extension.git
[submodule "vendor/marcw-velib"]
	path = vendor/marcw-velib
	url = git://github.com/marcw/silex-velib-extension.git
[submodule "vendor/velib"]
	path = vendor/velib
	url = git://github.com/marcw/velib.git
[submodule "vendor/twig"]
	path = vendor/twig
	url = git://github.com/fabpot/Twig.git
[submodule "vendor/pomm"]
	path = vendor/pomm
	url = git://github.com/chanmix51/Pomm.git
[submodule "vendor/GHub/PommExtension"]
	path = vendor/GHub/PommExtension
	url = git://github.com/chanmix51/PommExtension.git
