{% extends "layout.twig" %}

{% block content %}
    <article class="module width_full">
        <header><h3>Welcome!</h3></header>
            <div class="module_content">
                <p>This is a side project... It show some stats of Velib stations.</p>
            </div>
    </article>
{% endblock %}

