<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    #RewriteBase /path/to/app
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

SetEnv DB_NAME     velib_marcw_net
SetEnv DB_USER     root
SetEnv DB_PASSWORD
